@{
    
    ViewBag.Title = "Directory/File Browsing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="browserController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>File statistic</h3>
        </div>
        <div class="panel-body">
            <table ng-hide="dir.Parent=='none'" class="table">
                <thead>
                    <tr>
                        <td class="text-center">less 10 mb</td>
                        <td class="text-center">10mb-50mb</td>
                        <td class="text-center">more than 100 mb</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="loading">
                        <td class="text-center">{{stat.Less10Mb}}</td>
                        <td class="text-center">{{stat.More10MbAndLess50Mb}}</td>
                        <td class="text-center">{{stat.More100Mb}}</td>
                    </tr>
                </tbody>
            </table>
            <h2 ng-show="dir.Parent=='none'">Select disk, to continue!</h2>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <br />
            <a ng-hide="dir.Parent=='none'" ng-click="getDir(dir.Parent)">
                <span class="glyphicon glyphicon-arrow-up">
                    {{dir.CurrentPath}}
                </span>
            </a>
        </div>
        <div class="panel-body">
            <div ng-repeat="d in dir.Directorys">
                <ng-switch on="d.Type">
                    <a href="#" ng-switch-when="1" ng-click="getDir(d.Path)">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        {{d.Path.substring(d.Path.lastIndexOf("\\")+1)}}
                    </a>
                    <a ng-switch-when="2">
                        <span class="glyphicon glyphicon-file"></span>
                        {{d.Path.substring(d.Path.lastIndexOf("\\")+1)}}
                    </a>
                    <a href="#" ng-switch-when="0" ng-click="getDir(d.Path)">
                        <span class="glyphicon glyphicon-hdd"></span>
                        {{d.Path}}
                    </a>
                </ng-switch>
            </div>
        </div>
    </div>

</div>
